[package]
name = "mavlink-server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
async-trait = "0.1.81"
byteorder = "1.5.0"
chrono = "0.4"
clap = { version = "4.5", features = ["derive"] }
ctrlc = "3.4"
futures = "0.3"
lazy_static = "1.5.0"
# mavlink = { version = "0.13.1", default-features = false, features = ["ardupilotmega", "std"] }
# mavlink = { default-features = false, features = ["ardupilotmega", "std", "tokio-1"], path = "../rust-mavlink/mavlink" }
mavlink = { default-features = false, features = ["ardupilotmega", "std", "tokio-1"], git = "https://github.com/joaoantoniocardoso/rust-mavlink", branch = "add-tokio" }
regex = "1.10.6"
serde = "1"
shellexpand = "3.1"
tokio = { version = "1", features = ["full"] }
url = { version = "2.5.2", features = ["serde"] }

tracing = { version = "0.1.40", features = ["log", "async-await"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracing-log = "0.2.0"
# This is a custom revision adding file name suffix on top of tracing-appender-0.2.2" "0.2.2", but compatible with the current tracing version.
# Reference: https://github.com/tokio-rs/tracing/issues/2441
tracing-appender = { git = "https://github.com/joaoantoniocardoso/tracing", branch = "tracing-appender-0.2.2-with-filename-suffix" }


[build-dependencies]
vergen-gix = { version = "1.0.0-beta.2", default-features = false, features = ["build", "cargo"] }
